.page-container {
  position: relative;
  padding: 15px;
  min-height: 900px;
  max-width: 1200px;
  margin: 0 auto;
}


.station-map-container{position: relative;width: 95%;margin:20px auto 0;}

.station-map-container .osm{position: relative;width: 100%;overflow: hidden; height: 52vw;box-shadow:.3vw .4vw 0.3vw #f1f1f1;border-radius: .5rem; max-height: 650px}
.station-map-container .osm iframe{height: 100%; width: 100%}
.station-map-container .osm img{max-height: 100%;max-width: 100%;width: 100%;}

.map-point-f2e-edit-osm {
  padding: .6em .2em .2em;
  border: .35em #ffef00 solid;
  background: #fff;
  position: absolute;
  border-radius: 100%;
  width: 5.4em;
  height: 5.2em;
  text-align: center;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  color: #333;
  white-space: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-point-f2e-edit-osm .area-text {
  font-weight: 600;
  font-size:  1.3em;
  line-height: 1.2em;
}

/* NOTE: override --- start */
.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: none;
}

.leaflet-tooltip-top:before, .leaflet-tooltip-bottom:before, .leaflet-tooltip-left:before, .leaflet-tooltip-right:before {
  border: 0;
}

/* NOTE: override -- end */


.marker-cluster-custom-yb1 {
  background-color: rgba(255,158,21, 0.8);
}
.marker-cluster-custom-yb1 .div{
  background-color: rgba(255,158,21, 1);
}

.marker-cluster-custom-yb2 {
  background-color: rgba(255,239,0, 0.8);
}
.marker-cluster-custom-yb2 .div{
  background-color: rgba(255,239,0, 1);
}

.popupCustom .leaflet-popup-content {
  width: 245px;
  margin:0;
  overflow: hidden;
  text-align: left;
  font-size:.9em;
  line-height: 24px;
  color: #7F7F7F;
  font-weight: 600;
}

.popupCustom .leaflet-popup-content p {margin: 2px;}

.popupCustom .leaflet-popup-content p b{padding: 0 .25em 0 0; letter-spacing: -.01em}
.popupCustom .leaflet-popup-content p b:before{content: ':'; display: inline-block; width: max-content; padding: 0 .1em}
.popupCustom .leaflet-popup-content p span{display: inline-block;height: 1.3em}
.popupCustom .leaflet-popup-content p span b{float: left;}
.popupCustom .leaflet-popup-content p span:before{content: 'YouBike2.0';width: max-content; letter-spacing: -.01em;display: inline-block;float: left;}
.popupCustom .leaflet-popup-content p span i{display: inline-block;width: 10px;height: 21px;float: left;}
.popupCustom .leaflet-popup-content p span.NB_20E i:before{content: 'E'; display: inline-block; width: .5em; text-indent: .12em; font-style: normal}


/* ----- */
.EYB_button{
  background:#565656;
  border-radius: .5rem;
  border: none;
  display: inline-block;
  width: 40px;
  height: 17px;
  padding: 1px 0;
  margin:0 5px;
}
.EYB_button:after{
  content: '';
  display: inline-block;
  width: 100%;
  height: 12px;
  background: url("../images/open_eybinner.svg") no-repeat center center;
  background-size: 100%;
}
.EYB_button.clicked:after{
  background: url("../images/close_eybinner.svg") no-repeat center center;
  background-size: 100%
}
.EYB_button:hover{
  background:#565656;
}
.inner_eyb{
  background-color:#f7f7f7;
  font-size: .9em;
  width: 96%;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
-webkit-transition: height 500ms ease-in-out;
   -moz-transition: height 500ms ease-in-out;
        transition: height 500ms ease-in-out;
}
.inner_eyb.clicked{
  height: 100px;
  -webkit-transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
-webkit-transition: height 500ms ease-in-out;
   -moz-transition: height 500ms ease-in-out;
        transition: height 500ms ease-in-out;
}
.inner_eyb.less1.clicked{
height: 26px
}
.inner_eyb.less2.clicked{
height: 54px
}
.inner_eyb.less3.clicked{
height: 80px
}
.inner_eyb li{padding: .2em;float: left; width: 100%; border-bottom: solid .1em #dedede; line-height: 2em; font-size: 100%}
.inner_eyb li:before{content: '';float: left; display: inline-block; width: 20px; height: 22px; background:url("../images/grey_byc2.0E.svg") no-repeat center center; background-size: 100%}
.inner_eyb li i{display: inline-block; width: 60px; height: 20px; margin: 0 .5em; padding: 0 0 0 26px; letter-spacing: -.1em; color: #565656; font-style: normal}
.inner_eyb li i.full{background:url("../images/fullBettery.svg") no-repeat 4px center; background-size: 20px}
.inner_eyb li i.Two_thirds{background:url("../images/75Bettery.svg") no-repeat 4px center; background-size: 20px}
.inner_eyb li i.One_third{background:url("../images/50Bettery.svg") no-repeat 4px center; background-size: 20px}
.inner_eyb li i.zero{background:url("../images/25Bettery.svg") no-repeat 4px center; background-size: 20px}
