.page-container {
  position: relative;
  padding: 15px;
  min-height: 900px;
  max-width: 1200px;
  margin: 0 auto;
}

/* .leaflet-container {
  position: relative;width: 95%;margin:20px auto 0;
} */

.station-map-container{position: relative;width: 95%;margin:20px auto 0;}

.station-map-container .osm{position: relative;width: 100%;overflow: hidden; height: 52vw;box-shadow:.3vw .4vw 0.3vw #f1f1f1;border-radius: .5rem; max-height: 650px}
.station-map-container .osm iframe{height: 100%; width: 100%}
.station-map-container .osm img{max-height: 100%;max-width: 100%;width: 100%;}

.map_point {
  padding: .4em .2em .6em;
  border: .35em #fdf8a6 solid;
  background: #ffef00;
  position: absolute;
  border-radius: 100%;
  width: 5.4em;
  height: 5.2em;
  text-align: center;
  font-size: .8em;
  font-weight: 600;
  cursor: pointer;
}


.map_point-f2e-edit {
  border: .35em #ffef00 solid;background: #fff;position: absolute;border-radius:100%;width: 5.4em;height: 5.4em;text-align: center;font-size: 1.6em;display: flex;justify-content: center;align-items: center;
}
